.container {
    background-color: #10172C;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}