<div class="container">
    <div class="title center">
        <p>Character details</p>
    </div>
    <hr class="underline center">

    <ng-container></ng-container>
    @if(selectedCharacter){
    <div class="film-title center">
        <p>{{selectedCharacter.name}}</p>
    </div>
    }
</div>

<!-- character details section -->
@if(selectedCharacter){
<div class="detailcontainer">
    <div class="detailcolumn">
        <p id="details" class="spacer">Details:</p>
        <p class="bold spacer">Height: <span class="litefont">{{selectedCharacter.height}}</span></p>
        <p class="bold spacer">Weight: <span class="litefont">{{selectedCharacter.mass}}kg</span></p>
        <p class="bold spacer">Hair Color: <span class="litefont">{{selectedCharacter.hair_color}}</span></p>
        <p class="bold spacer">Eye Color: <span class="litefont">{{selectedCharacter.eye_color}}</span></p>
        <p class="bold spacer">Birth Year: <span class="litefont">{{selectedCharacter.birth_year}}</span></p>
        <p class="bold spacer">Gender: <span class="litefont">{{selectedCharacter.gender}}</span></p>
        <br>
        <div><br></div>
        <!--  home planet of selected character -->
        <p class="bold">Home Planet: </p><button (click)="this.planetService.navigateToPlanet(selectedCharacter.homeworld.split('/').reverse()[1])" mat-stroked-button style="color: black;">{{homePlanet}}</button>
        <div><br></div>
        <!--  films of selected character -->
        @if(characters){
        <p class="bold">Films:</p>
        @for (film of films; track $index) {
        <button mat-stroked-button (click)="this.filmService.navigateToFilm(film.url.split('/').reverse()[1])" style="color: black;">{{film.title}}</button>
        }
        @if(selectedCharacter.films.length > 3){
        <button mat-stroked-button style="color: black;">...</button>
        }
        }
        <div><br></div>
        <!--  starships -->
        @if(starships){
        <p class="bold">Starships:</p>
        @for (starship of starships; track $index) {
        <button mat-stroked-button style="color: black;">{{starship.name}}</button>
        }
        @if(selectedCharacter.starships.length > 3){
        <button mat-stroked-button style="color: black;">...</button>
        }
        }
        <div><br></div>
        <!--  vehicles -->
        @if(vehicles){
        <p class="bold">Vehicles:</p>
        @for (vehicle of vehicles; track $index) {
        <button mat-stroked-button style="color: black;">{{vehicle.name}}</button>
        }
        @if(selectedCharacter.vehicles.length > 3){
        <button mat-stroked-button style="color: black;">...</button>
        }
        }

    </div>

    <div><img src="../../../assets/images/2.png" alt="" class="responsive-image"></div>
</div>
}


@else {
    <div class="loading"><mat-spinner></mat-spinner></div>
}