mat-toolbar {
    background: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 133px;
    border: 2px solid rgb(236, 236, 236);
}

.main-content {
    padding-top: 8rem;
}

.navlinks {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.navlink {
    font-size: 14px;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

#search-icon {
    position: relative;
    left: 10rem;
    bottom: 3px;
    color: gray
}

#search-text {
    position: relative;
    right: 2rem;
    width: 4rem;
    bottom: 11px;
    color: gray
}

#search-box {
    height: 4rem;
    margin-left: auto;
    background-color: #FFFFFF;
    position: relative;
    right: 200px;
}

#header-margin {
    margin-left: 200px;
}

@media (max-width: 600px) {
    .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
    }

    #header-margin {
        margin-left: 12px;
    }

    #search-box {
        height: 4rem;
        margin-left: auto;
        background-color: #FFFFFF;
        position: relative;
        right: 0px;
    }
}